{% extends 'base.html' %}

{% block title %} Detail {{kegiatan}} | Nur Wasi Na'wa {% endblock %}

{% block body %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-8">
            <h3>{{kegiatan.nama}}</h3>
            <h4 class="card-header">Participants:</h4>
            <ul class="mt-3">
                {% for peserta in kegiatan.peserta.all %}
                <li class="mb-2">{{ peserta }}
                    <div class="float-right">
                        <a href="{% url 'story6:delPeserta' id=kegiatan.id pk=peserta.id origin='detail' %}" class="btn btn-danger" style="border-radius: 50%; font-size: 1rem;"><i class="fa fa-trash"></i></a>
                    </div>  
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                
                <form action="{% url 'story6:addPeserta' id=kegiatan.id origin='detail' %}" method="POST" class="m-3">
                    {% csrf_token %}
                    {{ add_peserta }}
                </form>
            </div>
            <a href="{% url 'story6:index' %}" class="btn btn-primary btn-lg w-25 float-right">Back</a>
        </div>
    </div>
</div>

{% endblock %}