{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}<link rel="stylesheet" href="{% static "story1/style.css" %}">{% endblock %}
{% block title %} Profile | Nur Wasi Na'wa {% endblock %}

{% block body %}
    <br>
    <div id="main">
        <div id="pic">
            <img id="portrait" src="{% static "story1/wasi.jpg" %}">
        </div>
        <div id="bio">
            <h1 class="h1">Nur Wasi Na'wa</h1>
            <h2>Fakultas Ilmu Komputer</h2>
            <h3>Universitas Indonesia</h3>
            <h4 class="h4">1806147110</h4>
            <div class="divider"></div>
            <div id="info">
                
                <p><b>Hobi:</b><br>
                    Menonton Film/Series, Mendengarkan Musik</p>
                <p><b>Deskripsi:</b><br>
                    Halo semua! perkenalkan saya Wasi, salah satu mahasiswa dari Fakultas Ilmu Komputer di Universitas Indonesia</p>
                <div class="divider"></div>
                <p><b>Riwayat Pendidikan</b>
				<ul><li>SDN 1 Sukapura (2006)</li>
                <li>SMPN 1 Sumberjaya (2012)</li>
				<li>SMPN 1 Singaparna (2013)</li>
                <li>SMAN 1 Singaparna (2015)</li>
                <li>Universitas Indonesia (2018)</li></ul>
                </p>
            </div>
        </div>
        
        <div class="divider"></div>
    </div><br>
{% endblock %}