{% extends 'base.html' %}

{% block title %} Details Mata Kuliah | Nur Wasi Na'wa {% endblock %}

{% block body %}
<hr>
<h2 class="h2 text-center"> {{matkul.nama}} Details </h2>
<hr>
<div class="container">
    <div class="card w-50 mx-auto" style="margin:2rem;">
        <div class="card-header text-center">
            {{matkul.nama}}
        </div>
        <div class="card-content" style="padding: 1rem;">
            <ul>
                <li><b>Dosen Pengajar   :</b> {{matkul.dosen}}</li>
                <li><b>SKS              :</b> {{matkul.sks}}</li>
                <li><b>Deskripsi        :</b> {{matkul.desc}}</li>
                <li><b>Semester         :</b> {{matkul.sem}}</li>
                <li><b>Ruang Kelas      :</b> {{matkul.ruang}}</li>
            </ul>
        <div class="card-action">
            <div class="float-right">
                {% if del %}
                    <form method="POST"> {% csrf_token %}
                    <button class="btn btn-danger btn-lg" type="submit"><i class="fa fa-trash" style="padding-top:.7rem;"></i></button>
                    <a href="/matkul" class="btn btn-primary btn-lg" style="padding: .7rem;">Kembali</a></form>
                {% else %}
                    <a href="/matkul" class="btn btn-primary btn-lg" style="padding-top:.7rem;">Kembali</a>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
    <hr>
    <h4 class="h4 text-center"> Daftar Tugas </h2>
    <hr>
    <div class="col-md-3"></div>
    <ul class="list-group col-md-6">
        {% for tug in deadlines %}
        <li class="list-group-item" style="background-color: 
        {% if tug.1 < 0 %}
            lightcoral
        {% elif tug.1 < 86400 %}
            khaki
        {% elif tug.1 < 604800 %}
            lightgreen
        {% else %}
            powderblue
        {% endif %}
        ;
        border: 1px solid burlywood;">
            {{tug.0}}
            <div class="float-right"> {{tug.dl}} </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
