<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chango|Diplomata&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Load font awesome icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
    <!-- Latest compiled and minified CSS -->
    
    {% if not home %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {% block home %} {% endblock %}
    <link rel="stylesheet" href="{% static "story4/style.css" %}">
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
<!-- navbar -->
<nav class="nav">
    <div class="container-fluid">
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                {% if home %}
                    <li class="nav-item"><a class="nav-link" href="#profile">Profile</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'stickers' %}">Recommendations</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Daftar Story
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'story1:profile' %}">Halaman Profil</a>
                        <a class="dropdown-item" href="{% url 'story5:matkul' %}">Mata Kuliah</a>
                        <a class="dropdown-item" href="{% url 'story6:index' %}">Kegiatan Organizer</a>
                    </div>
                </li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>
<!------------------ landing ------------------>
{% if home %}
    <div class="landing container-fluid">
        <div class="name">              
            <h1>--nwn</h1>
        </div>
    </div>
{% else %}
    <div class="landing-all container-fluid">
        <div class="name">   
            <h1>--nwn</h1>
        </div>
    </div>
{% endif %}

{% if messages %}
<ul class="messages container mt-4 mb-0">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %}>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% block body %} {% endblock %}
    
<!------------------ footer ------------------>
<div class="footer container-fluid"> </div>


<!-- The social media icon bar -->
<div id="icons" class="icon-bar h3">
    <a href="https://www.instagram.com/nurwasinawa/" class="instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://gitlab.com/nwasinawa" class="gitlab"><i class="fab fa-gitlab"></i></a>
  </div>
</body>
<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });

    $('.navTrigger').click(function () {
    $(this).toggleClass('active');
    console.log("Clicked menu");
    $("#mainListDiv").toggleClass("show_list");
    $("#mainListDiv").fadeIn();

});

</script>
</html>