{% extends 'base.html' %}
{% load static %}
{% block title %} Recommendation | Nur Wasi Na'wa {% endblock %}

{% block body %}

<div id="stickers" class="container">
    <div class="row text-center">
        <hr>
        <h2>Recommendation</h2>
        <hr>
    </div>
<div class="row">
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <img class="card-img-top" src="{% static "story4/images/The-Gifted.jpg" %}">
            <div class="snippet card-body">
                <h4 class="card-title">The Gifted</h4>
                <p class="card-text">Ritdha High School, a school with a "Gifted Program" that holds a special class for a handful of "special" students that were chosen by the school administrator.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/tgg.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">The Gifted Graduation</h4>
                <p class="card-text">Two years have passed and the new school year begins again. With it comes the resurrection of the Gifted program,  and a hidden threat from the Ministry led by Darin, a new teacher.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/gfn.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">Girl From Nowhere</h4>
                <p class="card-text">A mysterious, clever girl named Nanno transfers to different schools, exposing the lies and misdeeds of the students and faculty at every turn.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/socialsyndrome.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">Social Syndrome</h4>
                <p class="card-text">When the digital age is more dangerous than you think.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
</div>

<div class="row mx-auto">
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/bad-genius.jpeg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">Bad Genius</h4>
                <p class="card-text">Lynn, a genius high school student who makes money by cheating tests, receives a new task that leads her to set foot on Sydney, Australia.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/Homestay.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">Homestay</h4>
                <p class="card-text">"You were granted a prize." A mysterious man who calls himself the Guardian told me as we were standing on the outer wall of the hospital building that was turned sideways as if we were defying gravity.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4 col-md-3">
        <div class="card">
            <img class="card-img-top" src="{% static "story4/images/classicagain.jpg" %}">
            <div class="snippet card-body">
                <h4 class="card-title">Classic Again</h4>
                <p class="card-text">In a love triangle that miraculously mirrors her mother's romance years ago, a young woman lets her heart lead.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
    <div class="project col-sm-4  col-md-3">
        <div class="card">
            <div class="preview">
                <img class="card-img-top" src="{% static "story4/images/A-gift.jpg" %}">
            </div>
            <div class="snippet card-body">
                <h4 class="card-title">A Gift</h4>
                <p class="card-text">The story of 6 people who are trying to overcome challenges that life has thrown at them.</p>
                <a href="#" class="btn btn-outline-secondary">read more.</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}